body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.wrapper {
  background-color: rgb(247, 244, 244);
  list-style-type: none;
  padding: 0;
  border-radius: 5px;
}
.wrapper2 {
  background-color: rgb(164, 148, 148);
  list-style-type: none;
  padding: 10px;
  border-radius: 5px;
}
.form-row {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}
.form-row > label {
  padding: 1em;
  flex: 1;
  font-size: 1.2em;
  font-weight: bold;
}
.form-row > input,
.form-row > textarea {
  flex: 2;
}
.form-row > input,
.form-row > button,
.form-row > textarea {
  padding: 0.5em;
  resize: vertical;
  margin: 10px 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  font-size: 1.2em;
}
.form-row > textarea {
  font-size: 1.5em;
  background-color: rgb(242, 248, 248);
  text-align: center;
  font-weight: bold;
}

.button{
  background-color: #c7c17f;
  border: none;
  color: #000000;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
}
.center{
  margin: 0 auto;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 8px;
  display: flex;
  flex-direction: column;
}
p.information{
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}