extends layout

block content
  h1 Siltnamio duomenys
  ul(class="wrapper")
    li(class="form-row")
      label(for="fotorezistorius") Fotorezistoriaus duomenys 
      textarea(name="fotorezistorius" id="fotorezistorius" rows=1 readonly)
    li(class="form-row")
      label(for="temperatura") Temperaturos duomenys 
      textarea(name="temperatura" id="temperatura" rows=1 readonly)
    li(class="form-row")
      label(for="dregme") Dregmes duomenys 
      textarea(name="dregme" id="dregme" rows=1 readonly)
  script(src="/assets/javascripts/script.js") 
    
