extends layout

block content
  div(class="wrapper2")
    form(method="POST")
        input(type="submit" id="submit" name="submit" value="Atsijungti")
    h1 Siltnamio duomenys
    ul(class="wrapper")
      li(class="form-row")
        label(for="fotorezistorius") Fotorezistoriaus duomenys 
        textarea(name="fotorezistorius" id="fotorezistorius" rows=1 readonly) #{fotorezistorius}
      li(class="form-row")
        label(for="temperatura") Temperaturos duomenys 
        textarea(name="temperatura" id="temperatura" rows=1 readonly) #{temperatura}
      li(class="form-row")
        label(for="dregme") Dregmes duomenys 
        textarea(name="dregme" id="dregme" rows=1 readonly) #{dregme}
      if sviesa
          h2(style="text-align: center") Šviesa įjungta
      else 
          h2(style="text-align: center") Šviesa išjungta
      endif
      if variklis
          h2(style="text-align: center") Langas atidarytas
      else 
          h2(style="text-align: center") Langas uždarytas
      endif
      if sildymas
          h2(style="text-align: center") Šildymas Įjungtas
      else 
          h2(style="text-align: center") Šildymas išjungtas
      endif
    h1 Siltnamio reiksmiu nustatymai 
    form(method="POST")
      ul(class="wrapper")
        li(class="form-row")
          label(for="fotoSbmt") Fotorezistoriaus riba 
          input(type="number" name="fotoSbmt" id="fotoSbmt" rows=1)
        li(class="form-row")
          label(for="tmpSbmt") Temperaturos max riba 
          input(type="number" name="tmpSbmt" id="tmpSbmt" rows=1)
        li(class="form-row")
          label(for="drgSbmt") Temperaturos min riba 
          input(type="number" name="drgSbmt" id="drgSbmt" rows=1)
        li(class="from-row")
          if clientConnection
            div(class="center")
              input(class="button" type="submit" name="submit" value="Patvirtinti")
          else 
            div(class="center")
              p(class="information") Klientas neprisijunges, atnaujinkite puslapi!
          endif 
    
